#datas {
    resize: none;
    height: 330px;
}

#calculate, #EditButton {
    transition: all 0.5s;
}

.resultDivHidden {
    display: none;
}

.resultDivVisible {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: clamp(fit-content, 840px, fit-content) !important;
}

@media (min-width: 1001px) {
    #calculate:hover, #EditButton:hover {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.narrow thead {
    display: none !important;
}

.narrow tbody tr td {
    display: grid !important;
    text-align: left !important;
}

.narrow tbody tr td::before {
    content: attr(data-cell);
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
}

.narrow tbody tr:last-child td::before {
    background-color: rgb(220,53,69) !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.narrow tbody tr:last-child td > h5 {
    text-align: left !important;
    align-items: start !important;
    padding: 8px !important;
}