* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #350101;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #350101;
    font-family: 'Arial', sans-serif;
}

#wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.content-wrapper {
    max-width: 840px;
}

#titleIcon {
    height: 100px;
    width: 100px;
}

#navIcon {
    height: 40px;
    width: 40px;
}

#infoIcon {
    height: 75px;
    width: 75px;
}

#info, #info2 {
    background-image: linear-gradient(147deg, #470101 0%, #a01313 37%, #672121 100%);
}

h1, h2, #titleIcon, label, #infoIcon {
    text-shadow: 5px 5px 5px black;
}

h1, h2 {
    margin: 0% !important;
}

hr, button, table {
    box-shadow: 5px 5px 10px 1px black;
}

.container {
    background-color: #672121;
}

#scrollTopIcon {
    background-color: rgba(88, 84, 84, 0.50);
    border-radius: 50%;
    height: 40px;
    width: 40px;

    transition: background-color 0.25s;
}

#scrollTopIcon:active {
    transform: translateY(5%);
    background-color: rgb(75, 75, 0, 0.8);
}

@media (min-width: 1001px) {
    #scrollTopIcon:hover {
        background-color: rgba(150, 150, 0, 0.8);
        cursor: pointer;
    }
}

@media (max-width: 680px) {

    #titleIcon {
        height: 75px !important;
        width: 75px !important;
    }

    #navIcon {
        height: 20px !important;
        width: 20px !important;
    }

    #infoIcon {
        height: 50px !important;
        width: 50px !important;
    }

    h1 {
        font-size: 28px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    #info, #info2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 575px) {
    #wrapper {
        padding: 8px !important;
    }

    #info, #info2 {
        padding: 6px !important;
    }

    .container {
        padding: 15px !important;
    }

    #titleIcon {
        height: 40px !important;
        width: 40px !important;
    }

    #infoIcon {
        height: 30px !important;
        width: 30px !important;
    }

    #arrowUp {
        margin-bottom: 48px !important;
    }

    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 20px !important;
    }
}

@media (max-width: 350px) {
    #wrapper {
        padding: 6px !important;
    }

    #info, #info2 {
        padding: 4px !important;
    }

    .container {
        padding: 10px !important;
    }
}

@media (max-width: 330px) {
    #wrapper {
        border: none !important;
    }

    #info, #info2 {
        border: none !important;
    }

    .container {
        padding: 6px !important;
        border: none !important;
    }
}